<h2>Dashboard</h2>

<ol>
  <li>
    <h4>Number of Feedbacks (Branch REWE 05)</h4>
  </li>

  <li>
    <h4>Quality Frequency Distribution (FitX)</h4>
  </li>

  <li>
    <h4>Cross Table Age Group / Quality (Douglas)</h4>
  </li>

  <li>
    <h4>Ranking Branches (BMW)</h4>
  </li>

  <li>
    <h4>NPS comparsion between organizations</h4>
  </li>
</ol>
